<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>if判断</title>
</head>
<body>
<div id="app">
    <h1 v-if="flags">flags是true</h1>
    <h1 v-else>flags是false</h1>
    <h2 v-if="type==='A'">我是A</h2>
    <h2 v-else-if="type==='B'">我是B</h2>
    <h2 v-else>既不是A也不是B</h2>
</div>


<script src="../vue/vue.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            flags: true,
            type: 'B'
        }
    })
</script>
</body>
</html>