#nvs{
    /*标签宽度*/
    width: 500px;
    background: beige;
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 30px;
    /*背景颜色 背景图片 背景图片横向移动具体 纵向移动距离 不平铺*/
    background: red url("../image/下.png") 480px 10px no-repeat;
}
ul{
    background: beige;
}
ul li{
    /*行高*/
    height: 30px;
    /*list-style
    none:去掉圆点和数字
    circle:空心圆
    decimals:有序列表
    square:正方形
    */
    list-style: none;
    text-indent: 1em;
    /*背景图片*/
    background-image: url("../image/右.jpg");
    /*是否平铺*/
    background-repeat: no-repeat;
    /*图片距离*/
    background-position: 440px 10px;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: blue;
}
a:hover{
    /*放上去变色且出现下划线*/
    color: chocolate;
    text-decoration: underline;
}


